{% extends "base_navigation.html" %}

{% block title %}
    登入
{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        #resetBtn{
            margin-right:20px;
        }
        @media (min-width: 576px) { }

    
        @media (min-width: 768px) {}


        @media (min-width: 992px) {}


        @media (min-width: 1200px) {}


        @media (min-width: 1400px) {}
    </style>
{% endblock %}


{% block content %}
    <div class="container-lg">
        <h1>登入</h1>
        <form method="POST">
            {{ form.csrf_token }}
            <table class="table">
                
                <tbody>
                  <tr >
                    <th scope="row" class="col-2 text-end">{{ form.email.label }}</th>
                    <td>
                        {{ form.email(class='form-control') }}
                        {% if form.email.errors %}
                            <ul class="errors">
                            {% for error in form.email.errors %}
                                <li>
                                    <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                </li>
                                
                            {% endfor %}
                        {% endif %}
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row" class="col-2 text-end">{{ form.uPass.label }}</th>
                    <td>
                      {{ form.uPass(class='form-control') }}
                    </td>
                  
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>
                      <input type="reset" id="resetBtn" value="重設" class="btn btn-secondary"/>
                      <input type="submit" value="確定" class="btn btn-primary"/>
                      <a href="/auth/registor" style="margin-left:20px">註冊</a>
                    </td>
                    
                  </tr>
                </tbody>
              </table>
        </form>
        {{ super() }}
    </div>
       
{% endblock %}


{% block footer %}
        &copy; Copyright 2023 by <a href="https://flask-dash-web-uym5.onrender.com">徐國堂</a>.
{% endblock %}

